body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
}

/* Nowy główny kontener, który wyśrodkuje wszystko pionowo i poziomo */
.main-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100%;
}

/* Każda sekcja w bloku */
.section {
    display: block;
    margin-bottom: 20px; /* Odstęp między sekcjami */
    padding: 20px;
    width: 100%;
    max-width: 600px;
    background-color: white;
    border-radius: 8px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
}

/* Sekcja przycisków */
.section:first-child {
    display: flex;
    justify-content: center;
    gap: 10px;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

input[type="text"] {
    padding: 10px;
    font-size: 18px;
    width: 100%;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

button {
    padding: 10px 20px;
    font-size: 16px;
    background-color: #007BFF;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

button:hover {
    background-color: #0056b3;
}
