<!DOCTYPE html>
<html lang="pl">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sprawdź Tłumaczenie</title>
    <link rel="stylesheet" href="styles.css">
</head>
<body>
<div class="container">
    <div id="random-polish-word"></div>
    <input type="text" id="english-word" placeholder="Wpisz tłumaczenie">
    <button id="submit-btn">Sprawdź</button>
    <button id="next-word-btn">Next Word</button>
    <div id="result"></div>
    <div>Angielski opis słowa: </div>
    <br>
    <div id="sentenceA1"></div>
    <br>
    <div id="sentenceHigher"></div>

</div>

<script src="script.js"></script>
</body>
</html>
